<div class="page__footer-follow">
  <a title="University of Idaho Library" href="https://www.lib.uidaho.edu/" target="_blank">
    <img class="img-fluid lib-logo-lg" src="{{'/assets/images/ui_library_horizontal.png' | relative_url }}" alt="University of Idaho Library [logo]" style="max-width:250px;padding:0px 10px 10px"></a>
    <a title="Center for Digital Inquiry & Learning (CDIL)" href="https://cdil.lib.uidaho.edu/" target="_blank">
      <img class="img-fluid lib-logo-lg" src="{{'/assets/images/cdil.png' | relative_url }}" alt="Center for Digital Inquiry & Learning (CDIL)" style="max-width:250px;padding:0px 10px 10px"></a>
    <a title="Forest Fire Lookout Association" href="https://firelookout.org/" target="_blank">
      <img class="img-fluid lib-logo-lg" src="{{'/assets/images/ffla-logo.webp' | relative_url }}" alt="Forest Fire Lookout Association" style="max-width:150px;padding:0px 10px 10px"></a>
</div>

<div class="page__footer-copyright"><p>Sponsored by the University of Idaho Library, the College of Art & Architecture, the College of Graduate Studies at the University of Idaho, and in partnership with the Forest Fire Lookout Association.</p></div>
